<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            {{!-- mb-1 es para que se separe con el texto que sigue --}}
            <h1 class="bm-1">Mis pedidos</h1>
            <h3 class="mb-5">
                <em>Accede a tus pedidos y productos</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Empezar
            </a>
        </div>
    </header> 
</main>